@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');
* {
	box-sizing: border-box;
}

html {
	font-size: 24px;
	font-family: 'Comic Neue', cursive;
	font-weight: 700;
}

main {
	position: relative;
	min-height: 100vh;
	padding-bottom: 100px;
	--font-color-default: #000;
	--white: #FFF;
	--font-color-active: #FFF; 
	--focus-color: #4343FFBB;
	--special-color: #F5A63C;
	--btn-bg-default: #B9B9B9;
	--btn-bg-hover: #929292;
	--primary-grey: #D7D7D7;
	--secondary-grey: #E8E8E8;
	--side-bar-bg: #E8E8E8;

	background: var(--white);
	color: var(--font-color-default);

	transition: 0.4s;
}

/* Header */

header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	width: 100%;
	padding: 10px 20px;
	z-index: 1;
	backdrop-filter: blur( 14px );
	-webkit-backdrop-filter: blur( 14px );
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	animation: header-rgb-led 10s infinite alternate-reverse;
}

@keyframes header-rgb-led {
	from { box-shadow: 0 4px 8px 0 red }
	16% { box-shadow: 0 4px 8px 0  yellow }
	32% { box-shadow: 0 4px 8px 0  rgb(5, 242, 5) }
	48% { box-shadow: 0 4px 8px 0  aqua }
	64% { box-shadow: 0 4px 8px 0  blue }
	80% { box-shadow: 0 4px 8px 0  fuchsia }
	to { box-shadow: 0 4px 8px 0 rgb(231, 159, 4) }
}

.logo {
	color: var(--special-color);
	cursor: pointer;
	white-space: nowrap;
}

.micro-btn,
.notification-btn {
	color: var(--btn-bg-default);
}

.notification-btn {
	margin-right: 10px;
}

.micro-btn:hover,
.notification-btn:hover {
	color: var(--btn-bg-hover);
	cursor: pointer;
}

.menu-btn {
	border: 1px solid var(--special-color);
	background: var(--special-color);
	border-radius: 50%;
	padding: 7px;
	cursor: pointer;
}

.search-box {
	position: relative;
	flex-grow: 0.15;
	height: 33px;
	display: flex;
	align-items: center;
}

.search-box input {
	border: 1px solid var(--primary-grey);
  font-size: 18px;
  border-radius: 5px 0px 0px 5px;
  padding: 0 60px 0 20px;
  outline: none;
	width: 80%;
	height: 100%;
	background-color: var(--white);
}

.search-box input:focus {
	border: 1px solid var(--focus-color);
}

.search-box .search-btn {
  padding: 5px;
  background: var(--secondary-grey);
  font-size: 20px;
	height: 100%;
  border: 1px solid var(--primary-grey);
	border-radius: 0px 5px 5px 0px;
  border-left: none; 
  cursor: pointer;
} 

.search-box .search-btn:hover {
	background: var(--primary-grey);
}

.search-box .micro-btn {
  margin-left: 10px;
} 

.search-box .search-btn:hover {
	background: var(--primary-grey);
}

.menu-box {
	position: relative;
}

.menu-btn {
	background: var(--special-color);
	border-radius: 50%;
	padding: 7px;
	margin-left: 10px;
}

.menu {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	border: 1px solid var(--primary-grey);
	border-radius: 10px;
	background: var(--white);
	transition: 1s;
	right: 10px;
	top: 45px;
	width: 250%;
}

.menu-btn:hover + .menu,
.menu:hover {
	opacity: 1;
	visibility: visible;
}

.menu li{
	padding: 5px 15px;
	width: 100%;
	cursor: pointer;
}

.menu li:hover{
	background: var(--primary-grey);
}

.menu li:first-child {
	border-radius: 10px 10px 0 0;
}

.menu li:last-child {
	border-radius: 0 0 10px 10px;
}

.menu li.log-out {
	color: red;
	border-top: 2px solid var(--primary-grey);
}

/* Sidebar */

.sidebar {
	position: fixed;
	top: 60px;
	background: var(--secondary-grey);
	height: calc(100vh - 60px);
	width: 240px;
}

.sidebar ul {
	height: 80vh;
	overflow-y: auto;
}

.sidebar ul::-webkit-scrollbar-track,
.sidebar ul::-webkit-scrollbar,
.sidebar ul::-webkit-scrollbar-thumb {
	visibility: hidden;
}

.sidebar ul:hover::-webkit-scrollbar-track,
.sidebar ul:hover::-webkit-scrollbar,
.sidebar ul:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}

.sidebar ul::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--secondary-grey);
}

.sidebar ul::-webkit-scrollbar {
	width: 5px;
	background-color: var(--secondary-grey);
}

.sidebar ul::-webkit-scrollbar-thumb {
	background-color: var(--special-color);	
}

.sidebar ul li {
	position: relative;
	font-size: 0.75rem;
	width: 100%;
	padding: 20px;
}

.sidebar ul li:first-child {
	margin-top: 0;
}

.sidebar ul li:hover {
	background: var(--primary-grey);
	cursor: pointer;
}
.sidebar .user-avatar {
	height: 35px;
	width: 35px;
	background: var(--white);
	border: 5px solid var(--white);
	border-radius: 50%;
}

.sidebar .username {
	position: absolute;
	top: 50%;
	width: 30%;
	transform: translateY(-50%);
	margin-left: 10px;
	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar .username:hover {
	color: var(--focus-color);
}
.sidebar .watchers {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	width: 80px;
	height: 30px;
	display: flex;
	align-items: center;
}

.sidebar .watchers span {
	position: absolute;
	right: 20px;
}

.sidebar .watchers .blob {
	position: absolute;
	left: 0;
	background: red;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	box-shadow: 0 0 0 0 rgb(255, 0, 0);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
	}
}

.social-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 1px solid var(--white);
	background: var(--secondary-grey);
	width: 100%;
	height: calc(20vh - 60px);
	padding: 20px;
	display: flex;
	justify-content: center;
	color: var(--white);
}

.social {
	width: calc(100%);
	background: var(--primary-grey);
	border-radius: 5px;
	font-size: 0.75rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 20px;
}

.social .cta {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 20px;
}

.social .cta span::selection {
	background: var(--special-color);
}

.social .link {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.social .link a {
	color: black;
	font-size: 1rem;
}

.social .link a:hover {
	color: var(--focus-color);
}

/* Tags*/

.main {
	position: relative;
	top: 60px;
	left: 240px;
	width: calc(100% - 240px);
}

.tags ul{
	padding-top: 10px;
	display: flex;
}

.tags ul li {
	width: auto;
	border: 1px solid var(--primary-grey);
	border-radius: 25px;
	padding: 5px 15px;
	margin-left: 10px;
	white-space: nowrap;
	background: var(--secondary-grey);
	color: var(--font-color-default);
}

.tags ul li:last-child {
	margin-right: 15px;
}

.tags ul li:hover {
	background: var(--font-color-default);
	color: var(--secondary-grey);
	cursor: pointer;
}

.tags ul li.active {
	background: var(--special-color);
	color: var(--white);
}

.tags ul li.active:hover {
	color: var(--special-color);
	background: var(--white);
}

.tags ul {
	overflow-x: scroll;
}

.tags ul::-webkit-scrollbar {
	display: none;
}

/* Gallery */

.gallery {
	position: relative;
	height: 30vw;
	width: 60vw;
	margin: 50px auto;
}

.gallery s {
	display: none;
}

.gallery .slider {
	height: 100%;
	white-space: nowrap;
	transition: 0.8s;
	transform-style: preserve-3d;
  perspective: 500px;
}

.gallery .prevNext > div+div {
	visibility: hidden; 
}

.gallery .prevNext a {
	position: absolute;
	width: 5%;
	height: 30vw;
}

.gallery .prevNext a:nth-child(even) {
	right: 0;
	bottom: 0;
	transform: translateX(100%);
}

.gallery .prevNext a:nth-child(odd) {
	left: 0;
	bottom: 0;
	transform: translateX(-100%);
}

#s1:target ~ .prevNext >*:nth-child(1) {
	visibility: visible;
}

#s2:target ~ .prevNext >*:nth-child(2) {
	visibility: visible;
}

#s3:target ~ .prevNext >*:nth-child(3) {
	visibility: visible;
}

#s4:target ~ .prevNext >*:nth-child(4) {
	visibility: visible;
}

.slider .video-card {
	box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.6);
	transform: translateX(0%);
	transition: 1s;
}

.slider .video-card:nth-child(1) {
	transform: translateX(0%) translateZ(0);
	z-index: 1;
}

.slider .video-card:nth-child(2) {
	transform: translateX(10%) translateZ(-50px);
	z-index: 0;
}

.slider .video-card:nth-child(3) {
	transform: translateX(0%) translateZ(-50px);
	z-index: 0;
}

.slider .video-card:nth-child(4) {
	transform: translateX(-10%) translateZ(-50px);
	z-index: 0;
}

#s1:target ~ .slider .video-card:nth-child(1) {
	transform: translateX(0%) translateZ(0);
	z-index: 1;
}

#s1:target ~ .slider .video-card:nth-child(2) {
	transform: translateX(10%) translateZ(-50px);
	z-index: 0;
}

#s1:target ~ .slider .video-card:nth-child(3) {
	transform: translateX(0%) translateZ(-50px);
	z-index: 0;
}

#s1:target ~ .slider .video-card:nth-child(4) {
	transform: translateX(-10%) translateZ(-50px);
	z-index: 0;
}

#s2:target ~ .slider .video-card:nth-child(1) {
	transform: translateX(-10%) translateZ(-50px);
	z-index: 0;
}

#s2:target ~ .slider .video-card:nth-child(2) {
	transform: translateX(0%) translateZ(0);
	z-index: 1;
}

#s2:target ~ .slider .video-card:nth-child(3) {
	transform: translateX(10%) translateZ(-50px);
	z-index: 0;
}

#s2:target ~ .slider .video-card:nth-child(4) {
	transform: translateX(0%) translateZ(-50px);
	z-index: 0;
}

#s3:target ~ .slider .video-card:nth-child(1) {
	transform: translateX(0%) translateZ(-50px);
	z-index: 0;
}

#s3:target ~ .slider .video-card:nth-child(2) {
	transform: translateX(-10%) translateZ(-50px);
	z-index: 0;
}

#s3:target ~ .slider .video-card:nth-child(3) {
	transform: translateX(0%) translateZ(0);
	z-index: 1;
}

#s3:target ~ .slider .video-card:nth-child(4) {
	transform: translateX(10%) translateZ(-50px);
	z-index: 0;
}

#s4:target ~ .slider .video-card:nth-child(1) {
	transform: translateX(10%) translateZ(-50px);
	z-index: 0;
} 

#s4:target ~ .slider .video-card:nth-child(2) {
	transform: translateX(0%) translateZ(-50px);
	z-index: 0;
}

#s4:target ~ .slider .video-card:nth-child(3) {
	transform: translateX(-10%) translateZ(-50px);
	z-index: 0;
}

#s4:target ~ .slider .video-card:nth-child(4) {
	transform: translateX(0%) translateZ(0);
	z-index: 1;
}

.gallery .video-card {
	position: absolute;
	display: inline-grid;
	grid-template-columns: minmax(400px, 3fr) minmax(200px, 1fr);
	background: var(--secondary-grey);
	border-radius: 15px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.video-cover {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.video-cover img{
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	object-position: top;
}

.video-cover div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}

.video-cover:hover div {
	visibility: visible;
	opacity: 1;
}

.video-cover:hover div {
	visibility: visible;
	opacity: 1;
}

.video-cover:hover div i {
	cursor: pointer;
}

.video-cover .live {
	position: absolute;
	top: 10px;
	left: 10px;
	color: var(--white);
	background: #F00;
	padding: 5px 10px;
	border-radius: 5px;
}

.video-cover .live:hover {
	cursor: pointer;
}

.video-cover .viewers {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: white;
	background: rgba(0, 0, 0, 0.5);
	padding: 5px 10px;
	border-radius: 5px;
}

.video-cover .viewers {
	cursor: pointer;
}

.video-info {
	padding: 30px 20px;
}

.video-info .user-avatar {
	height: 35px;
	width: 35px;
	background: white;
	border: 5px solid white;
	border-radius: 50%;
}

.video-info .info-wrapper {
	display: flex;
	margin-bottom: 40px;
}

.info-wrapper div {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info-wrapper .username {
	font-size: 0.75rem;
	color: var(--primary-grey);
	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info-wrapper .videoname {
	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info-wrapper .username:hover,
.info-wrapper .videoname:hover {
	color: #4B61DD;
	cursor: pointer;
}

.gallery .description {
	white-space: initial;
	line-height: 1.2rem;
}

.gallery .description::selection {
	background: var(--special-color);
}

.video-container {
	display: grid;
	width: 100%;
	padding: 20px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 20px;
}

/* Video container */

.video-container .video-card{
	display: grid;
	max-width: 400px;
	height: 100%;
	grid-template-rows: 200px 1fr;
}

.video-container .info-wrapper {
	margin-bottom: 0;
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 25px 1fr 10px;
}

.video-container .info-wrapper i{
	font-size: 0.75rem;
	justify-self: end;
}

.video-container .info-wrapper i:hover {
	cursor: pointer;
}

.video-container .video-card .video-info {
	padding: 10px 0;
}

/* Footer */

footer {
	position: absolute;
	width: 20vw;
	margin-top: 100px;
	bottom: 10px;
	left: 50%;
	white-space: nowrap;
}

/* Popup */

.popup{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	user-select: none;
	visibility: hidden;
	opacity: 0;
	animation: popup-show 0.5s 5s forwards;
}

.popup-wrapper input[type="checkbox"]{
	-webkit-appearance: none;
}

.popup-wrapper input[type="checkbox"]:checked + .popup{
	animation: popup-hidden 1s forwards;
}

.popup::before{
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.6);
}

@keyframes popup-show{
	0% {
		visibility: hidden;
		opacity: 0;
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}

@keyframes popup-hidden{
	0% {
		visibility: visible;
		opacity: 1;
	}
	90% {
		visibility: hidden;
		opacity: 0;
	}
	100% {
		display: none;
	}
}

.popup .contentBox{
	position: relative;
	width: 600px;
	height: 400px;
	background: var(--white);
	border-radius: 20px;
	display: flex;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.popup .imgBx{
	position: relative;
	width: 300px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup .imgBx::before{
	content: '';
	position: absolute;
	width: 250px;
	height: 250px;
	background: #e7ffe0;
	border-radius: 50%;
}

.popup .imgBx img{
	position: relative;
	max-width: 250px;
	z-index: 1;
	user-select: none;
}

.popup .popup-content{
	width: 300px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup .popup-content h3{
	color: #333;
	line-height: 16px;
	font-size: 32px;
	font-weight: 300;
}

.popup .popup-content h2{
	font-size: 64px;
	color: #ff4d54;
}

.popup .popup-content h2 span{
	color: #333;
	font-size: 0.75em;
	text-transform: uppercase;
}

.popup .popup-content p{
	font-weight: 300;
}

.popup .popup-content a{
	display: inline-block;
	padding: 10px 20px;
	background: #ff4d54;
	color: white;
	margin-top: 15px;
	text-decoration: none;
	border-radius: 10px;
}

/* Dark mode */

.darkmode {
	font-family: "Font Awesome 5 Free"; 
	position: fixed;
	z-index: 2;
	top: 18px;
	left: 180px;
	width: 40px;
	height: 60px;
	background: rgb(136, 135, 135);
	visibility: hidden;
	cursor: pointer;
}

.darkmode::after {
	content: '\f186';
	font-weight: 900; 
	visibility: visible;
	font-size: 24px;
	color: #1e1e1e;
}

.darkmode:checked:after {
	content: '\f185';
	visibility: visible;
	color: #ffff00ed;
}

.darkmode:checked + main {
	--font-color-default: #dedede;
	--white: rgb(28, 28, 28);
	--font-color-active: #FFF; 
	--focus-color: #F5A63C;
	--special-color: #F5A63C;
	--btn-bg-default: #B9B9B9;
	--btn-bg-hover: #929292;
	--primary-grey: #3169d9;
	--secondary-grey: #676767;
}

/* Fake preloader */

.runsite {
	font-family: "Font Awesome 5 Free";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 4;
	visibility: hidden;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	animation: show-run-site 0.5s 2s forwards;
	pointer-events: none;
}

@keyframes show-run-site {
	0% {
		opacity: 0;
		pointer-events: none;
	}
	100% {
		opacity: 1;
		pointer-events:all;
	}
}

.runsite::after {
	content: 'run site \f1b0';
	transform: translate(-50%, -50%);
	white-space: nowrap;
	font-weight: 900;
	visibility: visible;
	position: absolute;
	padding: 5px 10px;
	background: #F5A63C;
	color: #e7dfdd;
	border-radius: 14px;
	z-index: 4;
}

.runsite ~ main {
	display: none;
}

.runsite:checked ~ main {
	display: block;
}

.runsite:hover::after {
	background: #e7dfdd;
	color: #F5A63C;
}

.runsite:checked {
	display: none;
}

.runsite:checked + .fake-preloader {
	display: none;
}

.fake-preloader {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background:#e7dfdd;
	visibility: visible;
	opacity: 1;
}

.fake-preloader img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 50%;
	width: 50%;
	object-fit: contain;
	animation: hide-fake-img 0.5s 2s forwards;
}

@keyframes hide-fake-img {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Media request */

@media screen and (max-width: 1200px) {
	html {
		font-size: 18px;
	}
	.sidebar .username {
		display: none;
	}
	.sidebar .watchers {
		display: none;
	}
	.social-wrapper {
		display: none;
	}

	.sidebar ul {
		height: calc(100vh - 60px);
	}
	
	.sidebar {
		width: 75px;
	}

	.main {
		position: relative;
		top: 60px;
		left: 75px;
		width: calc(100% - 75px);
	}

	footer {
		position: absolute;
		width: 20vw;
		margin-top: 100px;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		white-space: nowrap;
	}
}

@media screen and (max-width: 900px) {
	html {
		font-size: 16px;
	}

	.description {
		display: none;
	}
	
	.gallery .video-card {
		grid-template-columns: 3fr 1fr;
		background: var(--secondary-grey);
		border-radius: 15px;
		overflow: hidden;
		height: 100%;
		width: 100%;
	}

	.gallery .video-info {
		height: 100%;
		justify-content: center;
	}

	.gallery .video-info {
		padding: 5px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.gallery .info-wrapper {
		width: 100%;
		flex-direction: column;
		align-items: center;
		margin-bottom: 10px;
	}

	.gallery .info-wrapper div {
		align-items: center;
		margin: 5px 0;
	}

	.popup .contentBox{
		width: 300px;
		height: auto;
		flex-direction: column;
	}

	.popup .imgBx{
			height: 200px;
			transform: translateY(-50px);
	}

	.popup .imgBx:before{
			background: var(--white);
	}

	.popup .popup-content{
			height: auto;
			text-align: center;
			padding: 20px;
			padding-top: 0;
	}

	.darkmode {
		left: 120px;
	}
}

@media screen and (max-width:735px) {
	header {
		display: grid;
		grid-template-columns: 100px 1fr 60px;
		align-content: center;
	}

	.video-container {
		justify-items: center;
	}

	.gallery {
		font-size: 0.75rem;
		width: 70vw;
		height: 35vw;
	}

	.gallery .prevNext a {
		height: 35vw;
	}

	header .search-box {
		margin-left: 30px;
	}

	.menu-box {
		display: flex;
		align-items: center;
	}
}

@media screen and (max-width:550px) {
	header {
		display: grid;
		grid-template-columns: 100px 1fr 60px;
		align-content: center;
	}

	.menu-box {
		display: flex;
		align-items: center;
	}

	.search-box {
		width: 100%;
	}

	.search-box input {
		width: 60%;
		padding: 10px;
	}

	.slider .video-card {
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.25);
	}
	
}

@media screen and (max-width:400px) {

	header {
		grid-template-columns: 100px 60px;
	}

	.gallery {
		font-size: 0.75rem;
		width: 60vw;
		height: 30vw;
	}

	.gallery .prevNext a {
		height: 30vw;
	}

	.video-container {
		width: 100%;
		grid-template-columns: 1fr;
	}

	.search-box {
		display: none;
	}
}

@media screen and (max-width: 310px) {
	.darkmode {
		display: none !important;
	}

	.runsite {
		display: none;
	}

	.fake-preloader {
		display: none;
	}

	main {
		display: none !important;
	}

	body {
		background: #755224;
	}

	body::after {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #F5A63C;
		padding: 30px;
		width: 50vw;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 30px;
		color: #755224;
		font-family: "Font Awesome 5 Free";
		content: 'this size of screen is not suitable for the paws of cats \f1b0'
	}
}